<body>
    <footer class="footer-distributed">
        <div class="row">
            <div class="column">
                <img src="../../assets/images/coop-nav_blancomini.png" height="70vh" width="260vh">
                <div style="margin-top: 2vh; margin-left: 8vh;">
                    <a href="https://www.facebook.com/COOP.LAGUNA">
                        <img src="../../assets/images/Facebook.png" alt="">
                    </a>
                    <a href="https://instagram.com/coop.agropecuaria/">
                        <img src="../../assets/images/Instagram.png" alt="">
                    </a>
                    <a href="https://www.youtube.com/@cooperativaagopecuaria2052">
                        <img src="../../assets/images/Youtube.png" alt="">
                    </a>
                    <a href="https://www.tiktok.com/@cooperativa_agropecuaria">
                        <img src="../../assets/images/Tiktok.png" alt="">
                    </a>
                </div>
            </div>
            <div class="column" style="text-align: center;">
                <h5>C. Cuatrociénegas s/n, Parque Industrial Carlos Herrera,
                </h5>
                <h5>C.P. 35079 Gómez Palacio, Durango, México.
                </h5>
                <br>
                <h4>Contacto</h4>
                <h5>871 748 0500

                </h5>
            </div>
            <div class="column" style="padding: 1% 6%;">
                <h3 style="margin-bottom: 3%;">Atención telefónica
                </h3>
                <h5>Lunes a Viernes
                </h5>
                <h5>8:00 am a 5:30 pm
                </h5>
                <br>
                <h5>Sábado</h5>
                <h5>8:00 am a 2:00 pm

                </h5>
            </div>
          </div>
    </footer>
</body>
