<body>
    <footer class="footer-distributed">
        <div class="row">
            <div class="column">
                <img class="logo" src="../../assets/images/coplogoverde.webp" height="60vh" width="250vh">
                <div class="redessociales">
                    <a href="https://www.facebook.com/COOP.LAGUNA">
                        <img src="../../assets/images/logofb.PNG" alt="">
                    </a>
                    <a href="https://instagram.com/coop.agropecuaria/">
                        <img src="../../assets/images/logoig.PNG" alt="">
                    </a>
                    <a href="https://www.youtube.com/@cooperativaagopecuaria2052">
                        <img src="../../assets/images/logoyt.PNG" alt="">
                    </a>
                    <a href="https://www.tiktok.com/@cooperativa_agropecuaria">
                        <img src="../../assets/images/logotk.PNG" alt="">
                    </a>
                </div>
            </div>
            <div class="column2">
                <h5>Calle Cuatrocienegas S/N
                </h5>
                <h5>Colonia Parque Industrial Carlos A. Herrera Araluce
                </h5>
                <h5>
                    Gómez Palacio,Dgo.

                </h5>
                <h5 style="font-family: Arial, sans-serif;">CP 35079
                </h5>
                <a class="avisos" href="../../assets/Pdfs/Aviso de privacidad.pdf" >Aviso de privacidad</a>
                <a class="avisos" href="../../assets/Pdfs/Terminos y condiciones.pdf" >Términos y condiciones</a>
            </div>
            <div class="column3" >
                <h3 style="font-weight: 700;">Horario de Tienda
                </h3>
                <h5 style="font-weight: 700;">LUNES A VIERNES
                </h5>
                <h5 style="font-family: Arial, sans-serif;">8:00 am a 5:30 pm
                </h5>
                <h5 style="font-weight: 700;">SÁBADOS</h5>
                <h5 style="font-family: Arial, sans-serif;">8:00 am a 2:00 pm
                </h5>
                <h5 style="font-weight: 700;">DOMINGO</h5>
                <h5 style="font-family: Arial, sans-serif;">9:00 am a 2:00 pm
                </h5>
            </div>
        </div>
    </footer>
</body>
