<body>
    <footer class="footer-distributed">

        <div class="footer-left">
            <img src="../../assets/images/coop-nav_blancomini.png" height="70vh" width="260vh">
            <div style="margin-top: 2vh; margin-left: 8vh;">
                <a href="https://www.facebook.com/COOP.LAGUNA">
                    <img src="../../assets/images/Facebook.png" alt="">
                </a>
                <a href="https://instagram.com/coop.agropecuaria/">
                    <img src="../../assets/images/Instagram.png" alt="">
                </a>
                <a href="https://www.youtube.com/@cooperativaagopecuaria2052">
                    <img src="../../assets/images/Youtube.png" alt="">
                </a>
                <a href="https://www.tiktok.com/@cooperativa_agropecuaria">
                    <img src="../../assets/images/Tiktok.png" alt="">
                </a>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>Acerca de la compañia</span>
                Hace 59 años con el objetivo de prescindir de intermediarios en la adquisición de insumos necesarios en la producción agrícola nació "Cooperativa Agropecuaria".         
                Somos una sociedad conformada principalmente por productores agropecuarios laguneros donde ofrecemos productos con marcas líderes en el mercado, así como artículos para el hogar y uso urbano.
            </p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-envelope" style="justify-content: center;"></i>
                <p><span>Contacto</span>
                    </p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p>871 748 0500</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:sagar00001.co@gmail.com">Cooperativa@gmail.com</a></p>
            </div>

        </div>
        <p class="footer-company-name">Copyright © 2023 <strong>Cooperativa Agropecuaria</strong></p>
    </footer>

</body>
