<app-navbar></app-navbar>
<div class="container">
    <div class="Encabezado">
        <h1>
            
           </h1>
           <br>
           <h3>
           </h3>
           <br>
           <h3>
           </h3>
           <br>
           <h3>
           </h3>
           <br>
           <h3>
        </h3>
        <br>
        <h3>
        </h3>
       </div>
       <div class="separador">
    
       </div>
       <div class="row">
        <p class="Title">COOPERATIVA AGROPECUARIA<br>
          </p>
          <p class="body">Teléfono: (871) 7480500
          </p>
          <p class="body">C. Cuatrociénegas s/n, Parque Industrial Carlos Herrera,
        </p>
        <p class="body">C.P. 35079 Gómez Palacio, Durango, México.
        </p>

      </div>
      <div class="rowMaps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14397.240779776906!2d-103.48475734283106!3d25.56134475072641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fd993370aa363%3A0x7afb5628ba4e8207!2sSOCIEDAD%20COOPERATIVA%20AGROPECUARIA%20DE%20LA%20COMARCA%20LAGUNERA%20S%20C%20L!5e0!3m2!1ses-419!2smx!4v1682751550596!5m2!1ses-419!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
     </div>
     <div class="row"  style="background-image:url(../../assets/images/footercontacto.PNG); height: 30vh ;margin-top: 35vh;">

     </div>
     <div class="footer">
        <app-footer></app-footer>
        </div>
</div>