.container{

    backdrop-filter: blur(20px);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    height: 120%;
    width: 100%;
    position: absolute;
    top: -35%;
    left: 0;
    background-color: black;
}
button{
    border: solid 2px white;
    color: white;
    background-color: transparent;
    width: 20%;
    height: 10%;
    margin-left: 40%;
    margin-top: 5%;
    transition-duration: 0.4s;
    font-weight: bold;

}
button:hover{
    color: black;
    background-color: white;
    border: solid 2px black;
    cursor: pointer;
}
.Encabezado{
    border-radius: 10px;
    backdrop-filter: blur(2px);
    color: white;
    margin-top: 25%;
    color: white;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}
.footer{
    height: 30px;
    margin-top: -13vh;
}
.separador{
    margin-top: 53vh;
    background-color: aqua;
}
.row{
    background-color: black;
    text-align: center;
    p{
        color: white;
    }
}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  p.Title{
    margin-top: 10%;
    font-size: 30px;
    font-weight: 500;
}
p.SubTitle{
    margin-left: 8%;
    font-size: 60px;
    font-weight: 500;
}
p.body{
    padding: 20px 60px;
    text-align: center;
}
.rowMaps{
    margin-top: -51%;
    background-color: black;
}