.container
{
    background-image: url(../../assets/images/84462.jpg);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    box-sizing: border-box;
    height: 130%;
    position: absolute;
    top: 0;
    left: 0;
}
.Encabezado{
    border-radius: 10px;
    backdrop-filter: blur(20px);
    color: white;
    margin-top: 10%;
    color: white;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}

.centro{
    left: 0;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    color: white;
    margin-top: 35%;
    color: white;
    text-align: justify;
    padding: 0% 1%;
    .column1 {
        margin-left: -1%;
        float: left;
        width: 52%;
        padding: 20px;
        background-color: black;
        height: 56.6vh;
      }
      .column2 {
        margin-left: 51%;
        width: 50%;
        img{
            width: 100%;
            height: 3%;
        }
      }
}
.departamentos{
    text-align: center;
}
.detalleDepartamentos
{
    left: 0;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    color: white;
    color: white;
    text-align: center;
    .column1 {
        float: right;
        width: 49%;
        padding: 20px;
        margin-top: -24%;
        background-color: black;
        height: 48.7vh;
      }
      .column2 {
        margin-left: 0%;
        width: 40%;
        img{
            width: 100%;
            height: 1%;
        }
      }
}
video{
    margin-top: -1%;
    width: 127.5%;
    height: 120%;
}