<app-navbar></app-navbar>

<div class="container">

    <div class="video-container">
        <video class="video2" src="../../assets/Videos/sector-agrovideo.mp4" controls autoplay loop>
        </video>
        <div class="info-container">
          <h1 >Asesoria en campo</h1>
          <p >Brindamos asesoramiento gratuito a pequeños y grandes productores de la Comarca Lagunera, sugiriendo productos óptimos para el máximo aprovechamiento de su cultivo</p>
        </div>
      </div>
    
    <div class="contenedor" style="margin-top: 3%;">  
        
        <h1>NUESTROS INGENIEROS <br>
            ESTAN A TUS ORDENES</h1> 

            <div class="row">
                <div class="column">
                    <h2 style="font-weight: 10px;">
                        SIEMBRA
                    </h2>
                    <p style="text-align: center;">
                        Te ofrecemos la mejor 
                        opción en semillas para que 
                        tu cultivo obtenga el 
                        máximo rendimiento en cada 
                        temporada de siembra. 
                         Nuestras semillas están 
                         certificadas por lo que 
                         garantizan un producto de 
                         calidad y confianza a 
                         nuestros consumidores.
                    </p>
                </div>
                <div class="column" style="text-align: center;">
                    <h2 style="font-weight: 10px;">
                        MONITOREO
                    </h2>
                    <p style="text-align: justify;">
                        Mediante visitas constantes a los predios nuestros Ingenieros notifican a los productores las acciones que deben tomar, sugiriendo productos adecuados para cada situación.
                    </p>
                </div>
                <div class="column" >
                    <h2 style="font-weight: 5px;">
                        CONTROL DE PLAGAS
                    </h2>
                    <p style="text-align: justify;">
                        Para cada plaga ofrecemos productos específicos que benefician al cultivo a tratar.
                        Nuestros agroquímicos son aplicados de manera estratégica para que actúen lo antes posible y tener un buen control de plagas.
                    </p>

                </div>
            </div>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div> 

