<app-navbar></app-navbar>

<div class="container">
    <div class="Encabezado">
       <h1>
       
       </h1>
       <br>
       <h3>
       
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
    </div>
    <div class="separador">

    </div>
    <div class="row">
        <div class="column">
          <p class="Title">AGROQUIMICOS Y SEMILLAS <br>
          </p>
          <p class="body">El departamento de Agroquímicos y Semillas cuenta con las mejores marcas tanto nacionales como internacionales que garantizan a 
            nuestros clientes obtener la mayor producción, manejamos productos como insecticidas, raticidas, fungicidas, herbicida, entre otros que garantizan las mejores herramientas para proteger 
            y mantener en buen estado su hogar, jardín, oficina, escuelas y parques.</p>
          <a href="/sectoragro">
            <button class="btn">CONOCER MAS</button>
        </a>    
        </div>
        <div class="column" style="background-image: url(../../assets/SectorAgro/DSC_0081\ \(2\).JPG);background-size: cover;">
        </div>
      </div>

      <div class="row">
        <div class="column" style="background-image: url(../../assets/SectorAgro/DJI_0685.JPG);background-size: cover;">
        </div>
        <div class="column">
            <p class="Title">VIVERO<br>
            </p>
            <p class="body">Nuestro departamento de Vivero ofrece plantas ornamentales, frutales, 
                semilla para pasto, flores, nogales, hierbas aromáticas, productos de limpieza para albercas,
                botas para jardinería y accesorios para riego. Tenemos todo lo necesario para sus proyectos de paisajismo y 
                decoración.</p>
            <a href="/sectoragro">
                <button class="btn">CONOCER MAS</button>
            </a>    
        </div>
      </div>

      <div class="row">
        <div class="column">
          <p class="Title">FERTILIZANTES<br>
          </p>
          <p class="body">Aumenta la calidad y cantidad de tus cosechas con nuestros agroquímicos de última generación. Diseñados para maximizar la producción y proteger tus cultivos, nuestros productos son la solución ideal para lograr una agricultura de alta eficiencia. ¡No esperes más para mejorar tus resultados y adquiere nuestros agroquímicos ahora mismo!.</p>
          <a href="/sectoragro">
            <button class="btn">CONOCER MAS</button>
        </a>    </div>
        <div class="column" style="background-image: url(../../assets/SectorAgro/DSC_0061.JPG);background-size: cover;">
        </div>
      </div>
    
    <div class="footer">
        <app-footer></app-footer>
        </div>

   
    
</div> 

