<div class="nav">
<app-navbar></app-navbar>
</div>
<div class="Encabezado">
    <h1>
        Ferretería y Refaccionaria
       </h1>
       <h2>
        LO MEJOR EN PRODUCTOS PARA EL CUIDADO DE TU AUTOMÓVIL
       </h2>
       
   </div>
<div class="container">
    
    <div class="row">
    
    <div class="column1" style="background-image: url(../../assets/images/fondourbano.png);background-size: cover;">
    </div>
    <div class="column1">

      <p class="body">
        Manejamos marcas con productos de la más alta calidad que garantizan a nuestros socios las mejores herramientas para su desempeño agrícola, así como para el hogar y/o la industria.    
      <br>
      <br>
      <ol>
        <b>·</b> Equipo de Seguridad
    </ol>
    <ol>
        <b>·</b> Herramientas
    </ol>
    <ol>
        <b>·</b> Electricidad
    </ol>
    <ol>
        <b>·</b> Automotriz
    </ol>
    <ol>
        <b>·</b> JardinerÍa
    </ol>
    <ol>
        <b>·</b> PlomerÍa
    </ol>
    <ol>
        <b>·</b> Pintura
    </ol>
     
  </div>
  </div>
  

</div>
<div class="footer">
    <app-footer></app-footer>
    </div>