<div class="nav">
<app-navbar></app-navbar>
</div>


<div class="cinta">
    <p class="texto">FERRETERIA Y REFACCIONARIA</p>
</div>


<div class="imgcontainer">
    <img src="../../assets/images/ferreteria-carros.png">
    <div class="letronas">
        <img src="../../assets/images/sloganFerreteria.png" alt="">
    </div>
</div>

<div class="logo">
    <img class="imgCoop" src="../../assets/images/coplogoverde.webp">
</div>


<div class="container">
    <div class="container2">
        <p>Manejamos marcas con productos de la 

            mas alta calidad que garantizan a 
            
            nuestros socios las mejores herramientas 
            
            para su desempeño agricola, asi como 
            
            para el hogar y/o la industria.
            </p>
            <ol>
                <b>·</b> Equipo de Seguridad
            </ol>
            <ol>
                <b>·</b> Herramientas
            </ol>
            <ol>
                <b>·</b> Electricidad
            </ol>
            <ol>
                <b>·</b> Automotriz
            </ol>
            <ol>
                <b>·</b> Jardineria
            </ol>
            <ol>
                <b>·</b> Plomeria
            </ol>
            <ol>
                <b>·</b> Pintura
            </ol>
    </div>
    <div class="container3">
        <img src="../../assets/images/fondourbano.png" class="imagen" alt="">
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
    </div>