<div class="nav">
<app-navbar></app-navbar>
</div>
<div class="Encabezado">
    <h1>
        Ferreteria y Refaccionaria
       </h1>
       <h2>
        Todo lo que necesitas
       </h2>
       
   </div>
<div class="container">
    
    <div class="row">
    
    <div class="column1" style="background-image: url(../../assets/images/fondourbano.png);background-size: cover;">
    </div>
    <div class="column1">

      <p class="body">
        Manejamos marcas con productos de la 

            mas alta calidad que garantizan a 
            
            nuestros socios las mejores herramientas 
            
            para su desempeño agricola, asi como 
            
            para el hogar y/o la industria.
      </p>
      <br>
      <br>
      <ol>
        <b>·</b> Equipo de Seguridad
    </ol>
    <ol>
        <b>·</b> Herramientas
    </ol>
    <ol>
        <b>·</b> Electricidad
    </ol>
    <ol>
        <b>·</b> Automotriz
    </ol>
    <ol>
        <b>·</b> Jardineria
    </ol>
    <ol>
        <b>·</b> Plomeria
    </ol>
    <ol>
        <b>·</b> Pintura
    </ol>
     
  </div>
  </div>
  

</div>
<div class="footer">
    <app-footer></app-footer>
    </div>