
<div>
    <header class="logo">
        <a class="logotipo" href="/inicial">
        <img src="../../assets/images/coplogoverde.webp" alt="">
    </a>
    </header>

    <header class="headerh">
        <nav class="Navbarn">
            <a href="/inicial">
                    <button class="btn">Inicio</button>
                </a>
                <a href="/contacto">
                    <button>Nosotros</button>
                </a>
                    <a href="/servicioscoop">
                    <button class="btn">Servicios</button>
                    </a>
                  
                    <a href="/blog">
                        <button>Blog</button>
                    </a>
                    <a href="http://tienda.cooplaguna.mx/">
                        <button>Compra en Línea</button>
                      </a> 
                      <a  href="http://tienda.cooplaguna.mx/" >
                        <img class="carrito"  src="../../assets/images/carritonegro.PNG" alt=""></a>
                <div class="closeSessionn">
            </div>
        </nav>
    </header>
  </div>
  