
<div>
    <header class="headerh">
        <nav class="Navbarn">
            <a routerLink="/dashboard"><img class="logo"  src="../../assets/images/coop-nav_blancomini.png" alt=""></a>
                    <button class="btn">Sector Agricola</button>
                    <button class="btn">Sector Urbano</button>
                    <button class="btn">Cuidado Animal</button>
                    <a href="http://storeca.innovativepartner.tech/CoopStore">
                        <button>Tienda en Línea</button>
                      </a> 
                <div class="closeSessionn">
            </div>
        </nav>
    </header>
  </div>
  