<div class="nav">
    <app-navbar></app-navbar>
    </div>
    
    
    <div class="cinta">
        <p class="texto">LABORATORIO</p>
    </div>
    
    
    <div class="imgcontainer">
        <img src="../../assets/images/greenleaves.jpg">
        <div class="letronas">
            <img src="../../assets/images/LabAnal.png">
        </div>
    </div>

    <div class="logo">
        <img class="imgCoop" src="../../assets/images/coplogoverde.webp">
    </div>
    
    
    <div class="container">
        <div class="container2">
            <p>
                Sociedad Cooperativa Agropecuaria de La Comarca Lagunera 
                
                S.C.L. proporciona el servicio de laboratorio de análisis de agua y
                
                suelo, para que tomes las mejores decisiones al momento de comenzar 
                
                tu proyecto de siembra.



                Realizamos análisis del suelo, agua, plantas, fertilizantes, sólidos y 
                
                líquidos, calidad de nuez y bromatológicos entre otros.
                </p>
                
        </div>
        <div class="container3">
            <img src="../../assets/images/lab.jpg" class="imagen" alt="">
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>

