<div class="nav">
    <app-navbar></app-navbar>
    </div>
    <div class="Encabezado">
        <h1>
            Laboratorio
           </h1>
           <h2>
            LABORATORIO DE ANÁLISIS FÍSICO, QUÍMICO Y MICROBIOLÓGICO DE SUELOS, AGUA Y PLANTAS
           </h2>
           
       </div>
    <div class="container">
        
        <div class="row">
        
        <div class="column1a" >
            <img src="../../assets/images/lab.jpg" alt="">
        </div>
        <div class="column1b">
    
          <p class="body">
            Sociedad Cooperativa Agropecuaria de La Comarca Lagunera S.C.L. proporciona el servicio de laboratorio de análisis de agua y suelo, para que tomes las mejores decisiones al momento de comenzar tu proyecto de siembra.


Realizamos análisis del suelo, agua, plantas, fertilizantes, sólidos y líquidos, calidad de nuez y bromatológicos entre otros.


      </div>
      </div>
      
    
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>