<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        CUIDADO ANIMAL
       </h1>
       <br>
       <h3>
        cuenta con las mejores marcas de laboratorios tanto nacionales como internacionales que garantizan a nuestros clientes obtener el mayor cuidado en las pequeñas y grandes especies. 
       </h3>
       <br>
       <h3>Mascotas
       </h3>
       <br>
       <h3>Consultorio Veterinario
       </h3>
       <br>
       <h3>Medicamento Grandes Especies
    </h3>
    <br>
    <h3>Medicamento Pequeñas Especies
    </h3>
   </div>
   <div class="footer">
    <app-footer></app-footer>
    </div>
</div>
