<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        
       </h1>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
    </h3>
    <br>
    <h3>
    </h3>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <p class="Title">Consultorio Veterinario.</p>
      <p class="body">Contamos con un Consultorio Veterinario para pequeñas especies con el fin de cuidar y preservar la vida de nuestras mascotas.Atendidos por médicos expertos en el área y contando con gran surtido de medicamentos de las marcas más reconocidas a nivel mundial.</p>
    </div>
    <div class="column" style="background-image: url(../../assets/images/consultorio.jpg);">
    </div>
  </div>
  <div class="row">
    <div class="column" style="background-image: url(../../assets/images/bañocanino.jpeg);">
    </div>
    <div class="column">
      <p class="Title">Baños Caninos.</p>
      <p class="body">Contamos con un cuarto para baños caninos el cual incluye: Corte de uñas, Limpieza de oídos y drenado de glándulas. Para más información ya gendar cita comunícate al  871.748.05.00ext. 6372. Exclusivo de Suc. Torreón.</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <p class="Title"> Estética Canina.</p>
      <p class="body">Contamos con una estética especializada en canes con los mejores estilistas de mascotas. Da un buen look a tu mascota. Para más información y agendar cita comunícate al 871.748.05.00 ext. 6372. Exclusivo de Suc. Torreón.</p>
    </div>
    <div class="column" style="background-image: url(../../assets/images/esteticaCanina.jpg);">
    </div>
  </div>
  <div class="row">
    <div class="column" style="background-image: url(../../assets/images/quirofanoCanino.jpg);">
    </div>
    <div class="column">
      <p class="Title"> Quirófano.</p>
      <p class="body">Contamos con un Quirófano para pequeñas especies con el fin de cuidar y preservar la vida de nuestras mascotas.Atendidos por médicos expertos en el área. Para más información y agendar cita comunícate al  871.748.05.00 ext. 6372.Exclusivo de Suc. Torreón. </p>
    </div>
  </div>
   <div class="footer">
    <app-footer></app-footer>
    </div>
</div>
