.container
{
    background-image: url(../../assets/images/cuidadoAnimal.jpg);
    backdrop-filter: blur(20px);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    backdrop-filter: blur(20px);

    box-sizing: border-box;
    height: 130%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.Encabezado{
    border-radius: 10px;
    backdrop-filter: blur(2px);
    color: white;
    margin-top: 10%;
    color: white;
    margin-left: 25%;
    text-align: center;
    width: 50%;
}
.footer{
    background-color: aqua;
    height: 30px;
    margin-top: 50vh;
}