<app-navbar></app-navbar>

<div class="container">

    <div class="video-container">
        <div class="videoagro">
            <img class="video2" src="../../assets/images/cuidado-animal.jpg">
        </div>
       
        <div class="info-container">
          <h1 style="color: green;">Cuidado Animal</h1>
          <br>
          <p style="color:black">Para los amantes de las animales ofrecemos nuestros servicios médicos y de aseo veterinarios.
            Contamos con quirófano para cirugías sencillas y complejas.</p>
        </div>
      </div>
    
    <div class="contenedor" style="margin-top: 3%;">  
            <div class="row">
                <div class="column">
                    <h2 style="font-weight: 10px;">
                      CONSULTAS
                    </h2>
                    <p style="text-align: justify;">
                      En cada una de nuestras sucursales tenemos consultorio veterinario en donde se atienden pequeñas y grandes especies, nuestros médicos veterinarios están altamente capacitados para preservar la vida de tus mascotas o animales domésticos.
                    </p>
                </div>
                <div class="column" style="text-align: center;">
                    <h2 style="font-weight: 10px;">
                        VACUNAS Y MEDICAMENTO
                    </h2>
                    <p style="text-align: justify;">
                      Contamos con todas las dosis de vacunas y medicamentos de usos veterinario para mantener saludable a tu mascota.
                      Además te brindamos el carnet de vacunación totalmente gratis para que lleves el control de las vacunas.
                    </p>
                </div>
                <div class="column" >
                    <h2 style="font-weight: 5px;">
                      CIRUGÍAS
                    </h2>
                    <p style="text-align: justify;">
                      En nuestra sucursal de Torreón brindamos el servicio de quirófano en le cual ofrecemos la esterilización, ultrasonido, química sanguínea, biometría hemática e intervenciones quirúrgicas.
                    </p>

                </div>
                <div class="column" >
                  <h2 style="font-weight: 5px;">
                    SERVICIO DE ASEO
                  </h2>
                  <p style="text-align: justify;">
                    Para mantener la limpieza de tu mascota te ofrecemos nuestros servicios de Estética Canina que incluye:
                    Corte de pelo
                    Corte de uñas
                    Limpieza de oídos
                    Baño
                  </p>
              </div>
            </div>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div> 
