<div class="nav">
    <app-navbar></app-navbar>
    </div>
    
    
    <div class="cinta">
        <p class="texto">AGROQUÍMICOS Y SEMILLAS</p>
    </div>
    
    
    <div class="imgcontainer">
        <img src="../../assets/images/semilllas.png">
        <div class="letronas">
            <img src="../../assets/images/SemillasBanner.png">
        </div>
    </div>
    
    <div class="logo">
        <img class="imgCoop" src="../../assets/images/coplogoverde.webp">
    </div>
    
    
    <div class="container">
        <div class="container2">
            <p>
                El departamento de Agroquímicos y Semillas cuenta con 
                
                las mejores marcas tanto nacionales como internacionales 
                
                que garantizan a nuestros clientes obtener la mayor producción, 
                
                manejamos productos como insecticidas, raticidas, fungicidas, 
                
                herbicida entre otros que garantizan las mejores herramientas 
                
                para proteger y mantener en buen estado su hogar, jardín, oficina, 
                
                escuelas y parques.
                </p>
                <ol>
                    <b>·</b> Insecticidas
                </ol>
                <ol>
                    <b>·</b> Herbicidas
                </ol>
                <ol>
                    <b>·</b> Fertilizantes para Jardín
                </ol>
                <ol>
                    <b>·</b> Semillas
                </ol>
                
        </div>
        <div class="container3">
            <img src="../../assets/images/fertilizante.png" class="imagen" alt="">
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
