<div class="nav">
    <app-navbar></app-navbar>
    </div>
    <div class="Encabezado">
        <h1>
            Veterinaria
           </h1>
           <h2>
            PROTECCIÓN PARA LAS MASCOTAS, TRANQUILIDAD PARA LOS HUMANOS
           </h2>
           
       </div>
    <div class="container">
        
        <div class="row">
        
        <div class="column1a">
            <img src="../../assets/images/veterinaria.PNG" >
        </div>
        <div class="column1b">
    
          <p class="body">
            El departamento de Veterinaria cuenta con las mejores marcas de laboratorios tanto nacionales como internacionales que garantizan a nuestros clientes obtener el mayor cuidado en las pequeñas y grandes especies.     
          <br>
          <br>
          <ol>
            <b>·</b> Mascotas
        </ol>
        <ol>
            <b>·</b> Consultorio Veterinario
        </ol>
        <ol>
            <b>·</b> Medicamento Grandes Especies
        </ol>
        <ol>
            <b>·</b> Medicamento Pequeñas Especies
        </ol>  
      </div>
      </div>
      
    
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>