<div class="nav">
    <app-navbar></app-navbar>
    </div>
    
    
    <div class="cinta">
        <p class="texto">VETERINARIA</p>
    </div>
    
    
    <div class="imgcontainer">
        <img src="../../assets/images/AnimalesMascotas.jpg">
        <div class="letronas">
           
        </div>
    </div>
    
    <div class="logo">
        <img class="imgCoop" src="../../assets/images/coplogoverde.webp">
    </div>
    
    
    <div class="container">
        <div class="container2">
            <p>El departamento de Veterinaria cuenta con las mejores marcas de laboratorios tanto nacionales como internacionales que garantizan a nuestros clientes obtener el mayor cuidado en las pequeñas y grandes especies. 
                </p>
                <ol>
                    <b>·</b> Mascotas
                </ol>
                <ol>
                    <b>·</b> Consultorio Veterinario
                </ol>
                <ol>
                    <b>·</b> Medicamento Grandes Especies
                </ol>
                <ol>
                    <b>·</b> Medicamento Pequeñas Especies
                </ol>
               
        </div>
        <div class="container3">
            <img src="../../assets/images/veterinaria.PNG" class="imagen" alt="">
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>