<div class="nav">
    <app-navbar></app-navbar>
    </div>
    
    
    <div class="cinta">
        <p class="texto">BOUTIQUE</p>
    </div>
    
    
    <div class="imgcontainer">
        <img src="../../assets/images/bota.png">
        <div class="letronas">
            <img src="../../assets/images/TextoBoutique.png" alt="">
        </div>
    </div>
    
    <div class="logo">
        <img class="imgCoop" src="../../assets/images/coplogoverde.webp">
    </div>
    
    
    <div class="container">
        <div class="container2">
            <p>El departamento de Boutique cuenta 

                con botas para toda la ocasión.
                </p>
                <ol>
                    <b>·</b> Botas
                </ol>
                <ol>
                    <b>·</b> Pantalones
                </ol>
                <ol>
                    <b>·</b> Cintos
                </ol>
                <ol>
                    <b>·</b> Sombreros
                </ol>
        </div>
        <div class="container3">
            <img src="../../assets/images/botaa.png" class="imagen" alt="">
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>