<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        
       </h1>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
    </h3>
    <br>
    <h3>
    </h3>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <p class="Title">CULTIVOS,
        RIEGO, <br>
        FUMIGACION Y MUCHO MÁS.
      </p>
      <p class="body">Cooperativa agropecuaria le ofrece a sus clientes soluciones innovadoras para mejorar la producción de sus cultivos. Implementamos prácticas agrícolas sostenibles y tecnología avanzada para optimizar la producción y reducir los costos. Utilizamos abonos orgánicos y control biológico de plagas para garantizar una producción saludable y sostenible. Trabajamos juntos para encontrar soluciones personalizadas que se adapten a las necesidades de nuestros clientes y mejorar la eficiencia de sus cultivos.</p>
      <a href="/sectoragro">
        <button class="btn">CONOCER MAS</button>
    </a>    </div>
    <div class="column" style="background-image: url(../../assets/images/AGRICOLA.jpg);background-size: cover;">
    </div>
  </div>
  <div class="row">
    <div class="column" style="background-image: url(../../assets/images/ferre.jpg);background-size: cover;">
    </div>
    <div class="column" >
        <p class="Title">LO MEJOR PARA TU HOGAR, MANTENIMIENTO Y MUCHO MÁS</p>
        <p class="body">Cooperativa agropecuaria le ofrece a sus clientes soluciones innovadoras para mejorar la producción de sus cultivos. Implementamos prácticas agrícolas sostenibles y tecnología avanzada para optimizar la producción y reducir los costos. Utilizamos abonos orgánicos y control biológico de plagas para garantizar una producción saludable y sostenible. Trabajamos juntos para encontrar soluciones personalizadas que se adapten a las necesidades de nuestros clientes y mejorar la eficiencia de sus cultivos.</p>
        <button> CONOCER MAS</button>
    </div>
  </div>
  <div class="row">
    <div class="column">
        <p class="Title">CONSIENTE Y CUIDA A TU MASCOTA</p>
        <p class="body">Cooperativa agropecuaria le ofrece a sus clientes soluciones innovadoras para mejorar la producción de sus cultivos. Implementamos prácticas agrícolas sostenibles y tecnología avanzada para optimizar la producción y reducir los costos. Utilizamos abonos orgánicos y control biológico de plagas para garantizar una producción saludable y sostenible. Trabajamos juntos para encontrar soluciones personalizadas que se adapten a las necesidades de nuestros clientes y mejorar la eficiencia de sus cultivos.</p>
        <button> CONOCER MAS</button>
    </div>
    <div class="column"  style="background-image: url(../../assets/images/vacas.png);background-size: cover;">
        
    </div>
  </div>
  <div class="row">
    <div class="column" style="background-image: url(../../assets/images/fondomision.jpg);height: 60vh;">
        <p class="Title">MISION</p>
        <p class="body">Proveer e impulsar la actividad agropecuaria de la región, satisfaciendo las necesidades de nuestros socios y clientes con insumos, servicios y tecnología de punta,con calidad, tiempo, confiabilidad y liderazgo en precio.</p>
  
    </div>
    <div class="column"style="background-image:url(../../assets/images/04.jpg); height: 60vh;">

    </div>
  </div>
  <div class="row" style="background-color: aqua;">
 
  </div>
     <div class="footer">
    <app-footer></app-footer>
    </div>
</div>

