<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        
       </h1>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
    </h3>
    <br>
    <h3>
    </h3>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <p class="Title">CULTIVO,
        RIEGO, <br>
        FUMIGACION Y MUCHO MÁS.
      </p>
      <p class="body">Cooperativa agropecuaria le ofrece a sus clientes soluciones innovadoras para mejorar la producción de sus cultivos. Implementamos prácticas agrícolas sostenibles y tecnología avanzada para optimizar la producción y reducir los costos. Utilizamos abonos orgánicos y control biológico de plagas para garantizar una producción saludable y sostenible. Trabajamos juntos para encontrar soluciones personalizadas que se adapten a las necesidades de nuestros clientes y mejorar la eficiencia de sus cultivos.</p>
      <a href="/sectoragro">
        <button class="btn">CONOCER MAS</button>
    </a>    </div>
    <div class="column" style="background-image: url(../../assets/images/AGRICOLA.jpg);background-size: cover;">
    </div>
  </div>
  <div class="row">
    <div class="column" style="background-image: url(../../assets/images/ferre.jpg);background-size: cover;">
    </div>
    <div class="column" >
        <p class="Title">LO MEJOR PARA TU HOGAR, MANTENIMIENTO Y MUCHO MÁS</p>
        <p class="body">Cooperativa agropecuaria le ofrece a sus clientes soluciones para proyectos de construcción y reparación en el hogar. Contamos con un amplio inventario de herramientas, materiales y suministros de alta calidad para proyectos de cualquier magnitud. Además, brindamos asesoría técnica y capacitación para asegurarnos de que nuestros clientes estén satisfechos con su compra y sepan cómo utilizarla de manera efectiva. Con nuestro enfoque en la calidad y la satisfacción del cliente, nos esforzamos por ser la opción ideal para proyectos de construcción y reparación en el hogar.</p>
        <a href="/SectorUrbano">
          <button class="btn">CONOCER MAS</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="column">
        <p class="Title">CONSIENTE Y CUIDA A TU MASCOTA</p>
        <p class="body">
          Cooperativa agropecuaria le ofrece a sus clientes soluciones integrales para el cuidado de las mascotas. Contamos con un equipo de expertos en salud animal, quienes brindan servicios de prevención, diagnóstico y tratamiento de enfermedades, así como también servicios de nutrición y bienestar animal. Además, ofrecemos una amplia variedad de productos para el cuidado y la comodidad de las mascotas. Nos comprometemos a brindar atención personalizada y de calidad para que las mascotas y sus dueños se sientan en confianza y tranquilidad.</p>
          <a href="/cuidadoAnimal">
            <button class="btn">CONOCER MAS</button>
        </a>
    </div>
    <div class="column"  style="background-image: url(../../assets/images/vacas.png);background-size: cover;">
        
    </div>
  </div>
  <div class="row">
    <div class="column"style="background-image:url(../../assets/images/04.jpg); height: 60vh;background-size: contain;">
        
    </div>
    <div class="column" style=" height: 60vh; ">
      <p class="Title">MISION</p>
      <p class="body">Proveer e impulsar la actividad agropecuaria de la región, satisfaciendo las necesidades de nuestros socios y clientes con insumos, servicios y tecnología de punta,con calidad, tiempo, confiabilidad y liderazgo en precio.</p>

    </div>
  </div>
  <div class="row">
    <div class="column" style="height: 60vh; ">
      <p class="Title">VISION 2030</p>
      <p class="body">Consolidarnos como una empresa sustentable de clase mundial en el sector agropecuario, con presencia nacional y liderazgo de calidad, tecnología e innovación  con responsabilidad corporativa orientada al desarrollo de su capital humano y de la comunidad a la que servimos.</p>
    </div>
    <div class="column" style="background-image:url(../../assets/images/06.jpg); height: 60vh;background-size: contain;height: 60vh; ">
      
    </div>
  </div>
  <div class="row">
    <video src="../../assets/Videos/InstCorto.mp4" autoplay muted loop></video>  
  </div>
</div>
<hr>
<footer>
  <app-footer></app-footer>
</footer>
