<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        
       </h1>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
    </h3>
    <br>
    <h3>
    </h3>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <p class="Title">SECTOR AGRICOLA</p>
      <p class="body">Cooperativa agropecuaria le ofrece a sus clientes soluciones innovadoras para mejorar la producción de sus cultivos. Implementamos prácticas agrícolas sostenibles y tecnología avanzada para optimizar la producción y reducir los costos. Utilizamos abonos orgánicos y control biológico de plagas para garantizar una producción saludable y sostenible. Trabajamos juntos para encontrar soluciones personalizadas que se adapten a las necesidades de nuestros clientes y mejorar la eficiencia de sus cultivos.</p>
      <button> CONOCER MAS</button>
    </div>
    <div class="column" style="background-image: url(../../assets/images/AGRICOLA.jpg);background-size: cover;">
    </div>
  </div>
  
   <div class="footer">
    <app-footer></app-footer>
    </div>
</div>

