<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
      Servicios
       </h1>
       <h2>
        Todo lo que necesitas


       </h2>
       
   </div>

   <div class="row">
    
    <div class="column" style="background-image: url(../../assets/images/asesoriatecnica.JPG);background-size: cover;">
    </div>
    <div class="column">
      <p class="Title">Asesoría Técnica
      </p>
      <div   class="iconos">
        <img class="img1" src="../../assets/images/iconos servicios/tract+.png" alt="">
        <img class="img2" src="../../assets/images/iconos servicios/fert.png" alt="">
        <img class="img3" src="../../assets/images/iconos servicios/dron.png" alt="">
      </div>
      <p class="body">Buscando la mejora continua y llevándole a los agricultores un servicio de mejor Calidad, logrando resultados más efectivos en sus cosechas, Sociedad Cooperativa Agropecuaria de la Comarca Lagunera S.C.L. cuenta con personal capacitado para brindar apoyo y  asesoramiento a los productores, tratando así tener una mejora continua y resultados excepcionales.</p>
      <a href="/sectoragro">
        <button>Más</button>
    </a>    </div>
  </div>
  <div class="row">
    
    <div class="column" >
        <p class="Title">Laboratorio de análisis
        </p>
        <div  class="iconos2">
          <img class="img1" src="../../assets/images/iconos servicios/foliar.png" alt="">
          <img class="img2" src="../../assets/images/iconos servicios/agua.png" alt="">
          <img class="img3" src="../../assets/images/iconos servicios/suelo.png" alt="">
        </div>
        <p class="body">El Laboratorio Agropecuario SCALAB ofrece los servicios de análisis de suelo, agua, planta, fertilizantes sólidos y líquidos, calidad de nuez y bromatológicos entre otros, con el fin de dar al productor una herramienta más para una mejor toma de decisiones al momento de iniciar su proyecto de siembra o bien para las mejoras necesarias en esta etapa del cultivo y puedan traducirse a una cosecha abundante y exitosa.

        </p>
        <a href="/laboratorio">
          <button style="    margin-top:3%">Más</button>
      </a>
    </div>
    <div class="column" style="background-image: url(../../assets/images/laboratorioanalisis.PNG);background-size: cover;">
    </div>
  </div>

  <div class="row">
    
    <div class="column"  style="background-image: url(../../assets/images/veterinaria.PNG);background-size: cover;">
        
    </div>
    <div class="column">
      <p class="Title">Veterinaria
      </p>
      <div  class="iconos3">
        <img  class="img1"src="../../assets/images/iconos servicios/consul.png" alt="">
        <img  class="img2" src="../../assets/images/iconos servicios/estet.png" alt="">
        <img  class="img3"src="../../assets/images/iconos servicios/ciru.png" alt="">
      </div>
      <p class="body">Contamos con un Consultorio Veterinario para pequeñas y grandes especies con el fin de cuidar y preservar la vida de nuestras mascotas.</p>
      <p class="body2">Además contamos con equipo para cirugías, baños y estética canina.

      </p>
      <a href="/cuidadoAnimal">
        <button>Más</button>
      </a>
  </div>
  </div>
  <div class="row">
    
    <div class="column" >
      <p class="Title">Tienda</p>
      <div  class="iconos4">
        <img class="img1" class="img1"src="../../assets/images/iconos servicios/tienda.png" alt="">
      </div>
      <p class="body">Contamos con 10 sucursales en las cuales podrás adquirir una gran variedad de artículos para el hogar y trabajos de campo. 
      </p>
      <p class="body2">Departamentos: Ferretería, Refaccionaria, Boutique, Agroquímicos, Fertilizantes, Semillas, Veterinaria, Mascotas y Vivero.

      </p>
      <a href="http://storeca.innovativepartner.tech/CoopStore">
        <button>Más</button>
      </a>    </div>
    <div class="column"style="background-image:url(../../assets/images/TIENDACOP.PNG);background-size: cover;">
        
    </div>
  </div>
  <div class="row">
    
    <div class="column" style="background-image:url(../../assets/images/domicilio.jpg);background-size: cover; ">
      
    </div>
    <div class="column">
      <p class="Title">Servicio a domicilio
      </p>
      <div  class="iconos5">
        <img  class="img1"src="../../assets/images/iconos servicios/domi.png" alt="">
        <img  class="img2" src="../../assets/images/iconos servicios/ubi.png" alt="">
        <img  class="img3" src="../../assets/images/iconos servicios/ubi 2.png" alt="">
      </div>
      <br>
      <p class="body">Para una mayor comodidad para nuestros usuarios contamos con la modalidad de llevar el producto que compre con nosotros hasta la puerta de su casa o área de trabajo, de forma rápida y segura.</p>
    </div>
  </div>
<br>  <div class="row2">
  <div class="footer">
    <app-footer></app-footer>
    </div>
</div>
