<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        
       </h1>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
    </h3>
    <br>
    <h3>
    </h3>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <p class="Title">ASESORIA TÉCNICA
      </p>
      <p class="body">Buscando la mejora continua y llevándole a los agricultores un servicio de mejor Calidad, logrando resultados más efectivos en sus cosechas, Sociedad Cooperativa Agropecuaria de la Comarca Lagunera S.C.L. cuenta con personal capacitado para brindar apoyo y   asesoramiento a los productores, tratando así tener una mejora continua y resultados excepcionales.</p>
          </div>
    <div class="column" style="background-image: url(../../assets/images/AGRICOLA.jpg);background-size: cover;">
    </div>
  </div>
  <div class="row">
    <div class="column" style="background-image: url(../../assets/images/ferre.jpg);background-size: cover;">
    </div>
    <div class="column" >
        <p class="Title">LABORATORIO DE ANÁLISIS</p>
        <p class="body">El Laboratorio Agropecuario SCALAB ofrece los servicios de análisis de suelo, agua, planta, fertilizantes sólidos y líquidos, calidad de nuez y bromatológicos entre otros, con el fin de dar al productor una herramienta más para una mejor toma de decisiones al momento de iniciar su proyecto de siembra o bien para las mejoras necesarias en esta etapa del cultivo y puedan traducirse a una cosecha abundante y exitosa.</p>
        
    </div>
  </div>
  <div class="row">
    <div class="column">
        <p class="Title">CONSULTORIO VETERINARIO</p>
        <p class="body">Contamos con un Consultorio Veterinario para pequeñas especies con el fin de cuidar y preservar la vida de nuestras mascotas. Atendidos por médicos expertos en el área y contando con gran surtido de medicamentos de las marcas más reconocidas a nivel mundial.</p>
          
    </div>
    <div class="column"  style="background-image: url(../../assets/images/vacas.png);background-size: cover;">
        
    </div>
  </div>
  <div class="row">
    <div class="column"style="background-image:url(../../assets/images/04.jpg);background-size: contain;">
        
    </div>
    <div class="column" >
      <p class="Title">QUIRÓFANO, BAÑOS Y ESTÉTICA CANINA</p>
      <p class="body">Contamos con estética especializada en canes con los mejores estilistas de mascotas, así como servicio completo de aseo.

        Nuestro quirófano esta equipado con los instrumentos adecuados para llevar procedimientos quirúrgicos con el fin de cuidar y preservar la vida de nuestras mascotas.</p>
        
    </div>
  </div>
  <div class="row">
    <div class="column">
      <p class="Title">TIENDA</p>
      <p class="body">Contamos con 10 sucursales en las cuales podrás adquirir una gran variedad de artículos para el hogar y trabajos de campo. 
        ​
        
        Departamentos: Ferretería, Refaccionaria, Boutique, Agroquímicos, Fertilizantes, Semillas, Veterinaria, Mascotas y Vivero.</p>
   
    </div>
    <div class="column" style="background-image:url(../../assets/images/06.jpg);background-size: contain; ">
      
    </div>

    <div class="row">
        <div class="column"style="background-image:url(../../assets/images/04.jpg);background-size: contain;">
            
        </div>
        <div class="column" >
          <p class="Title">SERVICIO A DOMICILIO</p>
          <p class="body">Para una mayor comodidad para nuestros usuarios contamos con la modalidad de llevar el producto que compre con nosotros hasta la puerta de su casa o área de trabajo, de forma rápida y segura.</p>
    
        </div>
      </div>
  </div>
  <div class="row">
     <div class="footer">
    <app-footer></app-footer>
    </div>
</div>
