<div class="nav">
    <app-navbar></app-navbar>
    </div>
    <div class="Encabezado">
        <h1>
            VIVERO
           </h1>
           <h2>
            ENCUENTRA UNA VARIEDAD DE PLANTAS EN NUESTRO VIVERO
           </h2>
           
       </div>
    <div class="container">
        
        <div class="row">
        
        <div class="column1a" >
            <img src="../../assets/images/bannervivero.png" style="background-size: cover;">
        </div>
        <div class="column1b">
    
          <p class="body">
            Nuestro departamento de Vivero ofrece plantas ornamentales, frutales, semilla para pasto, flores, nogales, hierbas aromáticas, productos de limpieza para albercas, botas para jardinería y accesorios para riego. Tenemos todo lo necesario para sus proyectos de paisajismo y decoración.          <br>
          <br>
          <ol>
            <b>·</b>Sistema de riego
        </ol>
        <ol>
            <b>·</b> Accesorios para albercas
        </ol>
        <ol>
            <b>·</b> Decoración
        </ol>
        <ol>
            <b>·</b> Macetas
        </ol>        
      </div>
      </div>
      
    
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>