.Encabezado{
    backdrop-filter: blur(2px);
    margin-top: 9%;
    color: black;
    height: 0vh;
    text-align: center;
    width: 100%;
    h1{
        font-size: 60px;
    }
    h2
    {
        font-size: 17px;
        font-weight: 400;
    }
}
.column1a,.column1b {
    float: left;
    width: 50%;
    height: 73vh; /* Should be removed. Only for demonstration */
    color: black;
    background-color: white;
    h1{
        margin-top: 5vh;
    }
    h3{
        text-align: justify;
    }
    img{
        margin-top: 0%;
        float: left;
        width: 100%;
        margin-left: 0vh;
      }

  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.container{
    width: 100%;
    height: 75vh;
    flex-direction: row;
    display: flex;
    margin-top:8%;
}
.nav{
    width: 100%;
}


.footer{
    margin-top: -6%;
}
p{
    font-size: 20px;
    text-justify:distribute-all-lines;
    text-align: center;
    margin-top: 7vh; 
}
ol{
    text-justify:distribute-all-lines;
    text-align:start;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left: 10%;
}
p.Title{
    margin-top: 3%;
    margin-bottom: 0vh;
    font-size: 30px;
    font-weight: 700;
    color: green;
    text-align: center;

}
p.body{
    padding: 0% 20%;
    text-align: justify;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;

}
ol{
    margin-left: 20%;
    text-align: justify;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;

}

@media (max-width: 768px) {
    
    .Encabezado {
        backdrop-filter: blur(2px);
        margin-top:17%;
        color: black;
        height: 10vh;
        text-align: center;
        width: 100%;
    
        h1 {
            font-size: 50px;
        }
    
        h2 {
            font-size: 17px;
            font-weight: 400;
        }
    }
    .row{
        margin-top: -3%;
        width: 100%;
        height:60%;
    }
    .column1a {
        float: left;
        margin-left: 1%;
        width: 49%;
        height: 100%; /* Should be removed. Only for demonstration */
        color: black;
        background-color: white;
            img{
                margin-top: 0%;
                float: left;
                width: 100%;
                margin-left: 0vh;
              }
      }
      .column1b{
        background-color: transparent;
        p.body{
            margin-top:-1%;
            padding: 0% 10%;
            text-align: justify;
            font-weight: 700;
            font-size: 13px;
            line-height: 1.4;
        
        }
        ol{
            text-justify:distribute-all-lines;
            text-align:start;
            font-size: 13px;
            margin-top: 2.5%;
            margin-left: 10%;
        }
      }
      
.footer{
    margin-top: -40vh;
}
}