<app-navbar></app-navbar>

<div class="container">

    <div class="video-container">
        <div class="videoagro">
            <img class="video2" src="../../assets/images/fondo-laboratorio.webp">
        </div>
       
        <div class="info-container">
          <h1 style="color: green;">SCALAB</h1>
          <br>
          <p style="color:black">Sociedad Cooperativa Agropecuaria de La Comarca Lagunera S.C.L. proporciona el servicio de laboratorio de análisis para que tomes las mejores decisiones al momento de comenzar tu proyecto de siembra.</p>
        </div>
      </div>
    
    <div class="contenedor" style="margin-top: 3%;">  
            <div class="row">
                <br>
                <h1>ANÁLISIS </h1>
                <div class="column">
                    <h2 style="font-weight: 10px;">
                        SUELO
                    </h2>
                    <br>
                    <p style="text-align: justify;">
                        Tiene como objetivo evaluar la capacidad del suelo para dar el medio adecuado de crecimiento a la planta a nivel físico, químico y biológico detectando así deficiencias en nutrientes y determinar las acciones a tomar.

                    </p>
                </div>
                <div class="column" style="text-align: center;">
                    <h2 style="font-weight: 10px;">
                        AGUA
                    </h2>
                    <br>
                    <p style="text-align: justify;">
                        Análisis para riego agrícola que arroja la información Físico-química para clasificar salinidad, sodicidad, dureza, alcalinidad y determinar los nutrientes que se puede encontrar en el agua.


                    </p>
                </div>
                <div class="column" >
                    <h2 style="font-weight: 5px;">
                        FOLIARES
                    </h2>
                     <br>
                    <p style="text-align: justify;">
                        Nos proporciona la información necesaria para hacer un diagnostico nutricional de la planta. lo que nos permite detectar deficiencias y poder realizar correcciones oportunas.
                    </p>

                </div>
                <div class="column" >
                  <h2 style="font-weight: 5px;">
                    COMPOSTA                  
                </h2>
                <br>
                  <p style="text-align: justify;">
                    Permite la identificación oportuna de patógenos, ya que estos ocasionan enfermedades en el cultivo como la podredumbre de semillas, ahogamiento de plántulas y podredumbre de raíces  


                  </p>
              </div>
            </div>
    </div>
    <div class="contenedor2">

    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div> 
