<app-navbar></app-navbar>
<div class="Titulo">
    <h1>All Post</h1>
</div>
<div class="container">
    
    <div class="row">
        <div class="column"   >
            <img [src]="imagenBase64">
        </div>
        <div class="columnhover">
            <div class="botones">
                <button class="coop"></button>
            <h3>Cooperativa agropecuaria</h3>
            <button class="corona"></button>
            </div>
            <h1>{{titulo}}</h1>
            <h2>{{ Subtitulo }}</h2>
            <div class="bordes">
            </div>
            <div class="contenedor">
                <h4>
                    0 visualizaciones
                </h4>
                <h4 style="margin-left: 4vh;">0 comentarios</h4>
            </div>
        </div>
        <br>
        <div class="column"  >
            <img [src]="imagenBase64">
        </div>
        <div class="columnhover">
            <div class="botones">
                <button class="coop"></button>
            <h3>Cooperativa agropecuaria</h3>
            <button class="corona"></button>
            </div>
            <h1>{{titulo2}}</h1>
            <h2>{{ Subtitulo2 }}</h2>
            <div class="bordes">
            </div>
            <div class="contenedor">
                <h4>
                    0 visualizaciones
                </h4>
                <h4 style="margin-left: 4vh;">0 comentarios</h4>
            </div>
        </div>

        <div class="column"   >
            <img [src]="imagenBase64">
        </div>
        <div class="columnhover">
            <div class="botones">
                <button class="coop"></button>
            <h3>Cooperativa agropecuaria</h3>
            <button class="corona"></button>
            </div>
            <h1>{{titulo3}}</h1>
            <h2>{{ Subtitulo3 }}</h2>
            <div class="bordes">
            </div>
            <div class="contenedor">
                <h4>
                    0 visualizaciones
                </h4>
                <h4 style="margin-left: 4vh;">0 comentarios</h4>
            </div>
        </div>
      </div>     
      
</div>
<div class="footer">
    <app-footer></app-footer>
    </div>