<app-navbar></app-navbar>
<div class="Titulo">
    <h1>All Post</h1>
</div>
<div class="container">
    
    <div class="row">
        <div class="column"   >
            <img [src]="imagenBase64">
        </div>
        <div class="columnhover">
            <div class="botones">
                <button class="coop"></button>
            <h3>Cooperativa agropecuaria</h3>
            <button class="corona"></button>
            </div>
            <h1>Hormiguero 2022</h1>
            <h2>Te presentamos nuestra Parcela demo H2022, en la cual mostramos los rendimientos de nuestros híbridos de maíz</h2>
            <div class="bordes">
            </div>
            <div class="contenedor">
                <h4>
                    0 visualizaciones
                </h4>
                <h4 style="margin-left: 4vh;">0 comentarios</h4>
            </div>
        </div>
        <br>
        <div class="column"  >
            <img src="../../assets/images/blog2.JPG">
        </div>
        <div class="columnhover">
            <div class="botones">
                <button class="coop"></button>
            <h3>Cooperativa agropecuaria</h3>
            <button class="corona"></button>
            </div>
            <h1>Expo Nogal Parras 2023</h1>
            <h2>Participación en el Evento de Expo Nogal 2022 llevado a cabo en Parras de la fuente.</h2>
            <div class="bordes">
            </div>
            <div class="contenedor">
                <h4>
                    0 visualizaciones
                </h4>
                <h4 style="margin-left: 4vh;">0 comentarios</h4>
            </div>
        </div>

        <div class="column"   >
            <img src="../../assets/images/blog3.JPG">
        </div>
        <div class="columnhover">
            <div class="botones">
                <button class="coop"></button>
            <h3>Cooperativa agropecuaria</h3>
            <button class="corona"></button>
            </div>
            <h1>Parcela Demostrativa Tecno Coop</h1>
            <h2>les presentamos un avance de lo que sera nuestra parcela demostrativa de Maíz TECNO COOP en ese ciclo agrícola 2023</h2>
            <div class="bordes">
            </div>
            <div class="contenedor">
                <h4>
                    0 visualizaciones
                </h4>
                <h4 style="margin-left: 4vh;">0 comentarios</h4>
            </div>
        </div>
      </div>     
      
</div>
<div class="footer">
    <app-footer></app-footer>
    </div>