<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        
       </h1>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
    </h3>
    <br>
    <h3>
    </h3>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <p class="Title">FERRETERIA
      </p>
      <p class="body">¡No busques más! Encuentra todo lo que necesitas para tus proyectos en nuestra ferretería. 
        Contamos con la más amplia variedad de herramientas y materiales de alta calidad a precios competitivos. 
        Además, nuestro equipo de expertos en ferretería está siempre dispuesto a asesorarte 
        para que logres el resultado deseado. ¡Visítanos y comprueba por qué somos la mejor opción en ferretería!</p>
   </div>
    <div class="column" style="background-image: url(../../assets/images/ferre.jpg);background-size: contain;">
    </div>
  </div>
  <div class="row">
    <div class="column" style="background-image: url(../../assets/images/refa.jpg);background-size: cover;">
    </div>
    <div class="column" >
        <p class="Title">REFACCIONARIA</p>
        <p class="body">Encuentra todo lo que necesitas para tu vehículo en nuestra refaccionaria. 
            Tenemos las mejores marcas y precios competitivos para que tu auto siga rodando sin problemas. 
            
            ¡Visítanos ahora y aprovecha nuestras promociones!</p>
    </div>
  </div>
     <div class="footer">
    <app-footer></app-footer>
    </div>
</div>