
<app-navbar></app-navbar>
<div class="page">
    <div class="img">

        <img src="../../assets/images/fondourbano.png" alt="">
    </div>
    <div class="container">
        <div class="sideIzq">
            <p class="Title">Ferretería</p>
            <p class="body">¡No busques más! Encuentra todo lo que necesitas para tus proyectos en nuestra ferretería. 
                Contamos con la más amplia variedad de herramientas y materiales de alta calidad a precios competitivos. 
                Además, nuestro equipo de expertos en ferretería está siempre dispuesto a asesorarte 
                para que logres el resultado deseado. ¡Visítanos y comprueba por qué somos la mejor opción en ferretería!</p>
        </div>
        <div class="sideDer">

            <img src="../../assets/images/ferre.jpg" width="100%" alt="">

        </div>
    </div>
    <div class="containerDown">
        <div class="sideIzqDown">

            <img src="../../assets/images/refa.jpg" width="100%" alt="">

        </div>
        <div class="sideDerDown">

            <p class="Title">Refaccionaria</p>
            <p class="body">"Encuentra todo lo que necesitas para tu vehículo en nuestra refaccionaria. 
                Tenemos las mejores marcas y precios competitivos para que tu auto siga rodando sin problemas. 
                
                ¡Visítanos ahora y aprovecha nuestras promociones!"</p>

        </div>
    </div>
</div>
<div class="footer">
<app-footer></app-footer>
</div>