<app-navbar></app-navbar>
<div class="page">
    <div class="img">
        <img src="../../assets/images/sectorurbano.jpg" width="100%" height="600vh" alt="">
    </div>
    <div class="container">
        <div class="sideIzq">
            <p class="Title">Ferreteria</p>
            <p class="SubTitle">Refaccionaria</p>
            <p class="body">Manejamos marcas con productos de la 

                mas alta calidad que garantizan a 
                
                nuestros socios las mejores herramientas 
                
                para su desempeño agricola, asi como 
                
                para el hogar y/o la industria.</p>
        </div>
        <div class="sideDer">

        </div>
    </div>
</div>
<app-footer></app-footer>