
<app-navbar></app-navbar>

<div class="container">
    <div class="Encabezado">
       <h1>
        COOPERATIVA AGROPECUARIA
       </h1>
       <br>
       <h3>
        Teléfono: (871) 7480500
       </h3>
       <br>
       <h3>C. Cuatrociénegas s/n, Parque Industrial Carlos Herrera,
       </h3>
       <br>
       <h3>C.P. 35079 Gómez Palacio, Durango, México.
       </h3>
       <br>
    </div>
    <div class="centro">
        <div class="column1">
             <p class="Title">Nuestra misión</p>
             <p class="body2">Proveer e impulsar la actividad agropecuaria de la región, satisfaciendo las necesidades de nuestros socios y clientes con insumos, servicios y tecnología de punta,con calidad, tiempo, confiabilidad y liderazgo en precio.</p> 
        </div>
        <div class="column2">
           <img src="../../assets/images/mision.JPG" >
        </div>        
    </div>

    <div class="detalleDepartamentos">
        <div class="column2">
            <video src="../../assets/Videos/InstCorto.mp4" autoplay muted loop></video>
        </div>
        <div class="column1">
            <p class="Title">Valores</p>
            <p class="body">
                SERVICIO CONFIANZA
                <br>
                INTEGRIDAD HONESTIDAD
                <br>
                CREATIVIDAD SOLIDARIDAD
                <br>
                PRODUCTIVIDAD SUSTENTABILIDAD
            </p>
        </div>      
    </div>
    <div class="footer">
        <app-footer></app-footer>
        </div>
</div> 
