<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        
       </h1>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
    </h3>
    <br>
    <h3>
    </h3>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <img src="../../assets/images/coop-navletras.png" alt="">
      <p class="Title">SOMOS UN CORPORATIVO AGROPECUARIO
      </p>
    </div>
  </div>

  <div class="rowDepartamentos">
    <div class="column">
      <img class="img1" src="../../assets/images/depa1.webp" alt="">
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          SECTOR AGRICOLA
        </h1>
        <br>
        <h3>Tu cultivo está en nuestras manos
        </h3>
        <br>
        <a href="/cuidadoAnimal">
          <button class="btn">CONOCER MAS</button>
      </a>
      </div>

    </div>

    <div class="column">
      <img class="img1" src="../../assets/images/depa2.webp" alt="">
    
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          SECTOR URBANO       </h1>
        <br>
        <h3>Suministros para el hogar
        </h3>
        <br>
        <a href="/cuidadoAnimal">
          <button class="btn">CONOCER MAS</button>
      </a>
      </div>
    </div>
    <div class="column">
      <img class="img1" src="../../assets/images/depa3.webp" alt="">
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          CUIDADO ANIMAL        </h1>
        <br>
        <h3>Veterinaria y medicamentos 
        </h3>
        <br>
        <a href="/cuidadoAnimal">
          <button class="btn">CONOCER MAS</button>
      </a>
      </div>
    </div>
  </div>

  <div class="nosotros">
    <h1>NOSOTROS</h1>
    <br>
    <h3>Hace 59 años con el objetivo de prescindir de intermediarios en la adquisición de insumos necesarios en la producción agrícola nació "Cooperativa Agropecuaria".</h3>
    <br>
    <h3>Somos una sociedad conformada principalmente por productores agropecuarios laguneros donde ofrecemos productos con marcas líderes en el mercado, así como artículos para el hogar y uso urbano.</h3>
    <br>
    <h3>Nuestros valores son: Servicio, confianza, integridad, honestidad, creatividad, solidaridad, productividad, sustentabilidad.</h3>
  </div>
  <div class="contenedor">
    <div class="vision">
      <div class="columna">
        <h1>MISIÓN</h1>
        <h3>Proveer e impulsar la actividad agropecuaria de la región, satisfaciendo las necesidades de nuestros socios y clientes con insumos, servicios y tecnología de punta, con calidad, tiempo, confiabilidad y liderazgo en precio.</h3>
      </div>
      <div class="columna">
        <h1>VISIÓN 2030</h1>
        <h3>Proveer e impulsar la actividad agropecuaria de la región, satisfaciendo las necesidades de nuestros socios y clientes con insumos, servicios y tecnología de punta, con calidad, tiempo, confiabilidad y liderazgo en precio.</h3>
      </div>
      <div class="columna">
        <br>
        <h3 style="margin-left: -20%;">Todos los videos</h3>
        <video src="../../assets/Videos/InstCorto.mp4" autoplay muted loop></video>  
      </div>
    </div>
  </div>
  <div class="sucursales">
    <h1>SUCURSALES</h1>
    <br>
  </div>

  <div class="rowMaps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14397.240779776906!2d-103.48475734283106!3d25.56134475072641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fd993370aa363%3A0x7afb5628ba4e8207!2sSOCIEDAD%20COOPERATIVA%20AGROPECUARIA%20DE%20LA%20COMARCA%20LAGUNERA%20S%20C%20L!5e0!3m2!1ses-419!2smx!4v1682751550596!5m2!1ses-419!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
 </div>
     <div class="footer">
    <app-footer></app-footer>
    </div>
</div>

