<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <div class="carousel-container">
      <div class="carousel-wrapper">
        <div class="carousel-slide" [ngClass]="{'active': currentIndex === 0}">
          <img src="../../assets/images/cop1.webp" alt="First slide">
        </div>
        <div class="carousel-slide" [ngClass]="{'active': currentIndex === 1}">
          <img src="../../assets/images/cop2.webp" alt="First slide">
        </div>
        <div class="carousel-slide" [ngClass]="{'active': currentIndex === 2}">
          <img src="../../assets/images/cop3.webp" alt="First slide">
        </div>
        <div class="carousel-slide" [ngClass]="{'active': currentIndex === 3}">
          <img src="../../assets/images/cop4.webp" alt="First slide">
        </div>
      </div>
      <a class="carousel-prev" (click)="prevslide()">&#10094;</a>
      <a class="carousel-next" (click)="nextslide()">&#10095;</a>
      
    </div>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <img src="../../assets/images/coplogogris.PNG" alt="">
      <p class="Title">SOMOS UN CORPORATIVO AGROPECUARIO
      </p>
      <br>
      <h2>BRINDAMOS SERVICIOS PARA:
      </h2>
      <br>
    </div>
  </div>

  <div class="rowDepartamentos">
    <div class="column">
      <img class="img1" src="../../assets/images/depa1.webp" alt="">
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          SECTOR AGRICOLA
        </h1>
        <br>
        <h3>TUS CULTIVOS ESTÁN EN NUESTRAS MANOS


        </h3>
        <br>
        <a href="/sectoragro">
          <button class="btn">Más</button>
      </a>
      </div>

    </div>

    <div class="column">
      <img class="img1" src="../../assets/images/depa2.webp" alt="">
    
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          SECTOR URBANO       </h1>
        <br>
        <h3>SOLUCIONES PARA EL HOGAR Y LA INDUSTRIA


        </h3>
        <br>
        <a href="/">
          <button class="btn">Más</button>
      </a>
      </div>
    </div>
    <div class="column">
      <img class="img1" src="../../assets/images/depa3.webp" alt="">
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          CUIDADO ANIMAL        </h1>
        <br>
        <h3>VACUNAS, DESPARACITANTES Y MEDICAMENTOS


        </h3>
        <br>
        <a href="/cuidadoAnimal">
          <button class="btn">Más</button>
      </a>
      </div>
    </div>
  </div>
<div class="separador2">
<hr>
</div>
  <div class="nosotros">
    <h1>CONOCE NUESTROS DEPARTAMENTOS
    </h1>
    <br>
      <div class="iconosDepartamentos">
          <div class="columnd" style="margin-left: 4vh ; background-image: url(../../assets/images/iconos\ departementos/ferre.jpg); background-size: contain;">
          
          </div>
          <div class="columnd" style="background-image: url(../../assets/images/iconos\ departementos/botas.jpg); background-size: contain;">
          
          </div>
          <div class="columnd" style="background-image: url(../../assets/images/iconos\ departementos/herra.jpg); background-size: contain;">
          
          </div>
          <div class="columnd" style="background-image: url(../../assets/images/iconos\ departementos/agro.jpg); background-size: contain;">
         
          </div>
          <div class="columnd" style="background-image: url(../../assets/images/iconos\ departementos/vet.jpg); background-size: contain;">
        
          </div>
          <div class="columnd" style="background-image: url(../../assets/images/iconos\ departementos/sem.jpg); background-size: contain;">
            
          </div>
          <div class="columnd" style="background-image: url(../../assets/images/iconos\ departementos/labo.jpg); background-size: contain;">
            
          </div>
          <div class="columnd" style="background-image: url(../../assets/images/iconos\ departementos/fert.jpg); background-size: contain;">
            
          </div>
          <div class="columnd" style="background-image: url(../../assets/images/iconos\ departementos/viv.jpg); background-size: contain;">
            
          </div>
      </div>
    <a href="/">
      <button class="btn">Comprar en linea</button>
  </a>
</div>
<hr>
  <div class="contenedor">
    
        <video src="../../assets/Videos/InstCorto.mp4"controls  autoplay muted loop></video>  
    
  </div>

  <div class="row2">
    <div class="collogo">
      <h1>COMUNÍCATE</h1>
      <h3>ESTAMOS PARA SERVIRTE
      </h3>
      <br>
      <br>
      <img src="../../assets/images/logocontacto.PNG" alt="">
    </div>
    <div class="colinputs">
      <label class="nombre" >Nombre</label>
      <label class="apellido" >Apellido</label>
      <br>
      <input class="nombre" type="text">
      <input class="apellido"  type="text">
      <br>
      <label class="email">Email</label>
      <br>
      <input class="email" type="text">
      <br>
      <label class="mensaje">Mensaje</label>
      <br>
      <input class="mensaje" type="text">
      <button class="enviar">ENVIAR</button>
    </div>
  </div>

  <div class="rowMaps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14397.240779776906!2d-103.48475734283106!3d25.56134475072641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fd993370aa363%3A0x7afb5628ba4e8207!2sSOCIEDAD%20COOPERATIVA%20AGROPECUARIA%20DE%20LA%20COMARCA%20LAGUNERA%20S%20C%20L!5e0!3m2!1ses-419!2smx!4v1682751550596!5m2!1ses-419!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
 </div>
     <div class="footer">
    <app-footer></app-footer>
    </div>
</div>

