<app-navbar></app-navbar>

<div class="container">
  <div class="Encabezado">
    <h1>
        
       </h1>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
       </h3>
       <br>
       <h3>
    </h3>
    <br>
    <h3>
    </h3>
   </div>
   <div class="separador">

   </div>
   <div class="row">
    <div class="column">
      <img src="../../assets/images/coop-navletras.png" alt="">
      <p class="Title">SOMOS UN CORPORATIVO AGROPECUARIO
      </p>
    </div>
  </div>

  <div class="rowDepartamentos">
    <div class="column">
      <img class="img1" src="../../assets/images/depa1.webp" alt="">
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          SECTOR AGRICOLA
        </h1>
        <br>
        <h3>Tu cultivo está en nuestras manos
        </h3>
      </div>

    </div>
    <div class="column">
      <img class="img1" src="../../assets/images/depa2.webp" alt="">
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          SECTOR URBANO        </h1>
        <br>
        <h3>Suministros para el hogar
        </h3>
      </div>
    </div>
    <div class="column">
      <img class="img1" src="../../assets/images/depa3.webp" alt="">
      <div class="color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>
          CUIDADO ANIMAL        </h1>
        <br>
        <h3>Veterinaria y medicamentos 
        </h3>
      </div>
    </div>
  </div>

  <div class="nosotros">
    <h1>NOSOTROS</h1>
    <br>
    <h3>Hace 59 años con el objetivo de prescindir de intermediarios en la adquisición de insumos necesarios en la producción agrícola nació "Cooperativa Agropecuaria".</h3>
    <br>
    <h3>Somos una sociedad conformada principalmente por productores agropecuarios laguneros donde ofrecemos productos con marcas líderes en el mercado, así como artículos para el hogar y uso urbano.</h3>
    <br>
    <h3>Nuestros valores son: Servicio, confianza, integridad, honestidad, creatividad, solidaridad, productividad, sustentabilidad.</h3>
  </div>

  <div class="nosotros">

  </div>
     <div class="footer">
    <app-footer></app-footer>
    </div>
</div>

